@import "tailwindcss";

@plugin "../../buen-type.plugin.ts";

@source "../../node_modules/@muybuen/type/dist";

@theme {
  --color-primary: #00ff0a;
  --color-background: #000000;

  --font-bold: "GoshaSans-Ultrabold", sans-serif;
  --font-sans: "GoshaSans-Regular", sans-serif;
}

@font-face {
  font-family: "GoshaSans-Ultrabold";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/PPGoshaSans-Ultrabold.woff2") format("woff2");
}

@font-face {
  font-family: "GoshaSans-Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/PPGoshaSans-Regular.woff2") format("woff2");
}

:root {
  --color-primary-rgb: 0, 255, 10;
  --color-primary-hex: #00ff0a;
  --color-secondary-hex: #000000;
}

body {
  color: var(--color-primary);
  background: var(--color-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@utility subgrid {
  display: grid;
  grid-template-columns: subgrid;
}
