@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GoshaSans-Ultrabold";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/PPGoshaSans-Ultrabold.woff2") format("woff2");
}

@font-face {
  font-family: "GoshaSans-Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/PPGoshaSans-Regular.woff2") format("woff2");
}

:root {
  --color-primary: 0, 255, 10;
  --color-primary-hex: #00ff0a;
  --color-secondary: 0, 0, 0;
  --color-secondary-hex: #000000;
}

body {
  color: rgb(var(--color-primary));
  background: rgb(var(--color-secondary));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .subgrid {
    @apply grid grid-cols-subgrid;
  }
}

.glowing-text {
  /* @apply text-6xl font-bold bg-clip-text; */
  backdrop-filter: url(#glow) blur(10px);
}
